/* .entire{
    background-color: black;
 
}
html {
    min-width: 100%;
    min-height: 100%; */
    /* background-image: url(http://www.example.com/somelargeimage.jpg);
    background-position: top center;
    background-color: #000; */
  /* } */
  /* @media screen and (min-width: 500px) {
    body {
       width:420px;
    }
 }
 
 @media screen and (min-width: 800px) {
    body {
       width:720px;
    }
 } */
body {
    /* width: 1054px;
    height: 540px; */
    background-color: #FFF;
  }
.container{
    text-align: center;
    align-content: center;
}
.container-block{
    background-color: rgb(253, 183, 155);
    width: 50%;
    height: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%)
    /* border: lightsalmon;
    display: inline-block;
    position: absolute;
    maring:0 auto; */
}
#first h1{
    /* margin: 0; */
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right:50%;
    transform: translate(-50%, -50%);
    font-size: 900%;
    color:rgba(255, 255, 255, 0.164);
    text-align: center;
    font-family: 'Lora', serif;

}
#second h1{
    /* margin: 0; */
    position: absolute;
    top: 28%;
    left: 50%;
    margin-right:50%;
    transform: translate(-50%, -50%);
    font-size: 900%;
    color: rgba(255, 255, 255, 0.459);
    text-align: center;
    font-family: 'Lora', serif;

}
#third h1{
    /* margin: 0; */
    position: absolute;
    top: 36%;
    left: 50%;
    margin-right:50%;
    transform: translate(-50%, -50%);
    font-size: 900%;
    color: rgba(255, 255, 255, 0.678);
    text-align: center;
    font-family: 'Lora', serif;

}
#fourth h1{
    /* margin: 0; */
    position: absolute;
    top: 42%;
    left: 50%;
    margin-right:50%;
    transform: translate(-50%, -50%);
    font-size: 900%;
    color: rgba(255, 255, 255, 0.774);
    text-align: center;
    font-family: 'Lora', serif;

}
#fifth h1{
    /* margin: 0; */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right:50%;
    transform: translate(-50%, -50%);
    font-size: 900%;
    color:rgba(255, 255, 255, 0.842);
    text-align: center;
    font-family: 'Lora', serif;

}
#sixth h1{
    /* margin: 0; */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right:50%;
    transform: translate(-50%, -50%);
    font-size: 900%;
    color: white;
    text-align: center;
    font-family: 'Lora', serif;

}
#topright{
    margin-top: 10%;
    margin-left: 80%;
    position: absolute;
}
#topright a:link{
    color: black;
    text-decoration: none;

}

#botright{
    margin-top: 10%;
    margin-left: 60%;
    position: absolute;

}
#botright a:link{
    color: black;
    text-decoration: none;

}

#topleft{
    margin-top: 10%;
    margin-left: 40%;
    position: absolute;

}
#topleft a{
    color: black;
    text-decoration: none;
}

#botleft{
    margin-top: 10%;
    margin-left: 20%;
    position: absolute;

}
#botleft a{
    color: black;
    text-decoration: none;

}